body {
    background-color: black;
}

h1 {
    color: whitesmoke;
    text-align: center;
    font-size: 50px;
    margin-top: 0;
}


nav {
    width: 100%;
    display: flex;
}

nav div {
    display: flex;
    width: 100%;
}

nav div a {
    padding: 3px;
    background-color: white;
    margin: 10px;
    min-width: 100px;
    width: 100%;
    max-width: 150px;
    text-align: center;
    border-radius: 10px;
    height: 30px;
    align-content: center;
    text-decoration: none;
    color: black;
}

nav div.nav_left {
    justify-content: flex-start;
}

nav div.nav_right {
    justify-content: flex-end;
}


div.images_wrapper {
    display: flex;
    flex-direction: column;
}

div.image {
    display: flex;
    justify-content: center;
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

footer {
    width: 100%;
    display: flex;
}

footer div {
    display: flex;
    width: 100%;
}

footer div a {
    padding: 3px;
    background-color: white;
    margin: 10px;
    min-width: 100px;
    width: 100%;
    max-width: 150px;
    text-align: center;
    border-radius: 10px;
    height: 30px;
    align-content: center;
    text-decoration: none;
    color: black;
}

footer div.footer_left {
    justify-content: flex-start;
}

footer div.footer_right {
    justify-content: flex-end;
}